<h1>Welcome to the homepage of the food page</h1>
<p>{{{body}}}</p>

<form method="GET" action="">
    <input type="radio" name="filterCategory" value="breakfast" checked> breakfast<br>
    <input type="radio" name="filterCategory" value="lunch"> lunch<br>
    <input type="radio" name="filterCategory" value="dinner"> dinner<br>
    <input type="radio" name="filterCategory" value="anytime"> anytime
    <input type="submit">
</form>

<h1> Recommended meals ({{message}})</h1>
{{#each recipeItem}}
    <h2>{{this.name}} ({{this.category}})</h2>
    <h3> {{this.description}}</h3>
{{/each}}

<h1>Enter a meal...</h1>

<form method="POST" action="/">
    Name: <input type="text" name="name">
    Description: <input type="text" name="description">
    <br>
   Category: <input type="radio" name="category" value="breakfast" checked> breakfast
    <input type="radio" name="category" value="lunch"> lunch
    <input type="radio" name="category" value="dinner"> dinner
    <input type="radio" name="category" value="anytime"> anytime
    <br>
    <input type="submit">
</form>

